    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About Me</h2>
                <p>I’m a passionate learner who thrives on tackling challenging topics and projects. My interests lie in machine learning, particularly in computer vision, large language models, and natural language processing. I also enjoy writing secure and flexible code. With a deep fascination for machine learning, software development, and programming, I’m dedicated to using these skills to create innovative solutions for complex problems. My academic background and project experience have provided me with a broad understanding of AI and software engineering, and I’m eager to continue expanding my expertise in these areas.</p>
            </div>
        </div>
    </section>
