    <!-- Education Section -->
    <section id="education" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Education</h2>
                <p>Bachelors in Computer Science and Engineering with honours from Indian Institute of Technology Palakkad with CGPA 9.07</p>
                <p>Passed Secondary Examination (X) conducted by Central Board of Secondary Education with CGPA 10 from Jawahar Navodaya Vidyalaya Kottarakara, Kollam, Kerala </p>
                <p>Scored 91.8 Percent in Higher Secondary Examination (XII) conducted by Central Board of Secondary Education from Jawahar Navodaya Vidyalaya Kottarakara, Kollam, Kerala </p>
            </div>
        </div>
    </section>
