    <!-- skills Section -->
    <section id="skills" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Technical Skills</h2>
                <h4> Programming Languages and Framework</h4>
                <p> C/C++, Python, Laravel(MVC), Java, PHP, Html, CSS, JavaScript, SML, Haskell </p>
                <h4> Operating Systems</h4>
                <p> Linux (Ubuntu), Windows </p>
            </div>
        </div>
    </section>
